# Set your Google Cloud Project ID and Billing Account ID here
# DO NOT COMMIT your actual .env file to version control.
PROJECT_ID="YOUR_PROJECT_ID"
ACCOUNT_ID="YOUR_ACCOUNT_ID"
BUDGET_AMOUNT="20.00"
